__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/
*.egg-info/

data/
outputs/
logs/
runs/
*.pt

report/*.aux
report/*.log
report/*.out
report/*.toc
report/*.fls
report/*.fdb_latexmk
report/*.synctex.gz
src/image_analysis_coursework.egg-info